.feed {
  padding: 100px var(--side-padding);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.mainCard {
  background-color: var(--light-pink);
  border-radius: 20px 200px 100px 20px;
  padding: 60px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.textContent {
  flex: 1;
}

.title {
  font-family: "Farabee", serif;
  font-size: 36px;
  color: var(--dark-text);
  margin-bottom: 25px;
  text-transform: uppercase;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--dark-text);
  margin-bottom: 40px;
}

.showBtn {
  background-color: var(--accent-red);
  color: var(--white);
  padding: 18px 45px;
  font-size: 20px;
  border: 4px solid transparent;
  border-radius: 8px;
  font-family: "Farabee", serif !important;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(162, 85, 85, 0.2);
  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.showBtn:hover {
  background-color: var(--white);
  color: var(--dark-text);
  border-color: var(--accent-red);
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.showBtn:active {
  transform: translateY(-2px) scale(0.98);
  transition: all 0.1s;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.photo {
  width: 100%;
  max-width: 450px;
  height: 320px;
  object-fit: cover;
  border-radius: 40px 140px 40px 100px;
}

@media (max-width: 1024px) {
  .mainCard {
    flex-direction: column;
    padding: 40px;
    border-radius: 40px;
    text-align: center;
  }

  .description br {
    display: none;
  }
}
